* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width:600px) {
    body {
        overflow-x: auto;
        /* perché non funzionano per rendere la  calcolatrice 
   grande quanto lo schermo? */
        width: 100vw;
        height: 100vh;

    }
    
    body .flex {
        display: flex;
        flex-direction: column !important;
    }
    .grid-container>div:active {
        /*:active serve per dare l'effetto ":hover" anche da smartphone*/
        box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.3);
        /* "inset" per dare le ombre internamente*/
        background-color: rgb(187, 175, 184);
    }

    /* non riesco a ridimensionarla su schermi piccoli */
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 10px 20px rgb(207, 206, 206);
    margin: 1rem;
    border-radius: 1rem;
    align-items: center;
    padding: 2rem;
    background-color: white;
}
.flex { 
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(226, 249, 253);
    padding: 2rem;
width: 100%;

}
.grid-container {
    display: grid;
    /*grid-template-columns: 7.5rem 7.5rem 7.5rem 7.5rem 7.5rem;
    grid-template-rows: 7.5rem 5rem 5rem 5rem 5rem 5rem;
    width: 34.375rem;

    Con queste larghezze fisse in rem non è responsive. 
    Imposto "repeat" al posto delle lrghezze fisse delle colonne. */
    grid-template-columns: repeat(4, 1fr); 
    /* 5 colonne flessibili */
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    grid-template-areas:
        'schermo schermo schermo schermo'
        'ac ac slash per'
        'sette otto nove meno'
        'quattro cinque sei più'
        'uno due tre uguale'
        'zero zero punto uguale';
    gap: 0.625rem;
    padding: 1.25rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(64, 53, 141);
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 5px 5px 0px rgb(97, 95, 95),
        12px 12px 5px rgba(45, 45, 45, 0.5),
        inset 8px 8px 3px rgba(0, 0, 0, 0.3);
    /* aggiungere più ombre separandole con una virgola */


}

.grid-container>div {

    background-color: rgb(221, 208, 217);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 2px rgb(178, 136, 136);

}

.grid-container>div:hover {
    box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.3);
    background-color: rgb(187, 175, 184);
}

.schermo {
    grid-area: schermo;
    font-size: 1.875rem;

}

#schermo {
    background-color: rgb(138, 134, 134);
    color: aliceblue;
    font-size: 5rem;
    justify-content: end;
    padding: 2rem;
    box-shadow: inset 5px 5px 3px rgb(83, 80, 80);
}

.ac {
    grid-area: ac;
}

#ac {
    background-color: rgb(147, 33, 33);
    color: aliceblue;
}

.slash {
    grid-area: slash;
}

.per {
    grid-area: per;
}

.sette {
    grid-area: sette;
}

.otto {
    grid-area: otto;
}

.nove {
    grid-area: nove;
}

.meno {
    grid-area: meno;
}

.quattro {
    grid-area: quattro;
}

.cinque {
    grid-area: cinque;
}

.sei {
    grid-area: sei;
}

.più {
    grid-area: più;
}

.uno {
    grid-area: uno;
}

.due {
    grid-area: due;
}

.tre {
    grid-area: tre;
}

.uguale {
    grid-area: uguale;
}

#uguale {
    background-color: rgb(253, 177, 0);
    align-items: center;
}

.zero {
    grid-area: zero;
}

.punto {
    grid-area: punto;
}


@media only screen and (max-width:600px) {
    body {
        overflow-x: auto;
        /* perché non funzionano per rendere la  calcolatrice 
   grande quanto lo schermo? */
        width: 100vw;
        height: 100vh;

    }
    
    body .flex {
        display: flex;
        flex-direction: column !important;
    }
    .grid-container>div:active {
        /*:active serve per dare l'effetto ":hover" anche da smartphone*/
        box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.3);
        /* "inset" per dare le ombre internamente*/
        background-color: rgb(187, 175, 184);
    }

    /* non riesco a ridimensionarla su schermi piccoli */
}