a {
    color: black;
}
a:hover {
    color: blue;
}

ul li:last-child {
    background-color: yellowgreen;
}

p {color: rgba(225, 0, 0, 70%); }

#p-rgb {color: rgb(225, 0, 0); }


#p-hex {background-color: #FF0000; color: #FFFFFF;}

#p-name {color: red }