
:root {
    --padding: 200px;
    --sfondo: #e68609;
}


.box {
    padding: var(--padding);
    background-color: var(--sfondo);
}

.padding {
    padding: 50px;
    margin: 10px;
    border: 2px dashed blue ;
}

li {
    display: inline-block;
}
.box2 {
    padding: 50px;
    margin: 10px;
}

span {
    width: 20px;
    height: 5px;
    border: 1px solid green;
    background-color: #e68609;
}

.i {
    display: inline;
}

.ib {
    display: inline-block;
}

.b {
    display: block;
}