
:root {
    --padding: 200px;
    --sfondo: #e68609;
}


.box {
    padding: var(--padding);
    background-color: var(--sfondo);
}

.padding {
    padding: 50px;
    margin: 10px;
}

.box2 {
    padding: 50px;
    margin: 10px;
}